<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protocol</key>
	<string>TPRemoteProtocol</string>
	<key>entitys</key>
	<dict>
		<key>TPMeetingAffairBO</key>
		<string>com.cntaiping.intserv.mobile.bo.MeetingAffairBO</string>
		<key>TPAttachmentBO</key>
		<string>com.cntaiping.intserv.mobile.bo.AttachmentBO</string>
		<key>TPEISNoticeBO</key>
		<string>com.cntaiping.intserv.datasync.bmodel.EisNoticeBO</string>
		<key>TPDictionaryInfoBO</key>
		<string>com.cntaiping.intserv.mobile.bo.DictionaryInfo</string>
		<key>TPResourceFileBO</key>
		<string>com.cntaiping.intserv.mobile.bo.ResourceFileBO</string>
		<key>TPMeetingDetailBO</key>
		<string>com.cntaiping.intserv.mobile.bo.MeetingDetailBO</string>
		<key>TPApprovalMettingBO</key>
		<string>com.cntaiping.intserv.mobile.bo.ApprovalMeetingBO</string>
		<key>TPMeetingBO</key>
		<string>com.cntaiping.intserv.mobile.bo.MeetingBO</string>
		<key>TPIPISUserExt</key>
		<string>com.cntaiping.intserv.mservice.auth.user.ISUserExt</string>
		<key>TPPageInfoBO</key>
		<string>com.cntaiping.mobile.basic.PageInfo</string>
		<key>TPItemBO</key>
		<string>com.life.webservice.hessian.eo.ItemEO</string>
		<key>TPResultBO</key>
		<string>com.cntaiping.mobile.basic.ResultBO</string>
		<key>TPErrors</key>
		<string>com.cntaiping.mobile.basic.Error</string>
		<key>TPProductBO</key>
		<string>com.life.webservice.hessian.eo.Product</string>
		<key>TPOrgInfoBO</key>
		<string>com.cntaiping.intserv.mobile.bo.OrgInfoBO</string>
		<key>TPMeetingAgendaBO</key>
		<string>com.cntaiping.intserv.mobile.bo.MeetingAgendaBO</string>
		<key>TPMeetingPersonBO</key>
		<string>com.cntaiping.intserv.mobile.bo.MeetingPersonBO</string>
		<key>TPPersonBO</key>
		<string>com.cntaiping.intserv.mobile.bo.PersonBO</string>
		<key>TPResourceBO</key>
		<string>com.cntaiping.intserv.mobile.bo.ResourceBO</string>
		<key>TPSmpResultBO</key>
		<string>com.cntaiping.intserv.mobile.bo.SmpResultBO</string>
		<key>TPSmpUserBO</key>
		<string>com.cntaiping.intserv.mobile.bo.SmpUserBO</string>
	</dict>
	<key>methods</key>
	<dict>
		<key>会议签到</key>
		<dict>
			<key>name</key>
			<string>updateSignByParams</string>
			<key>selector</key>
			<string>updateSignByParams:meetId:customerId:meetType:singType:</string>
		</dict>
		<key>版本校验</key>
		<dict>
			<key>name</key>
			<string>getLastVersionId</string>
			<key>selector</key>
			<string>getLastVersionId:isIosApp:isIosSevenOne:</string>
		</dict>
		<key>心跳检测接口</key>
		<dict>
			<key>name</key>
			<string>uptActiveByLoginId</string>
			<key>selector</key>
			<string>updateUserExtActiveTime:heartTime:ativeTime:</string>
		</dict>
		<key>登陆接口</key>
		<dict>
			<key>name</key>
			<string>login</string>
			<key>selector</key>
			<string>userlogin:password:</string>
		</dict>
		<key>会议信息查询</key>
		<dict>
			<key>name</key>
			<string>findMeetInfoListByParams</string>
			<key>selector</key>
			<string>findMeetInfoListByParams:map:pageInfo:</string>
		</dict>
		<key>主持人/组织人信息</key>
		<dict>
			<key>name</key>
			<string>getModeratorInfoByParms</string>
			<key>selector</key>
			<string>getModeratorInfoByParms:userId:</string>
		</dict>
		<key>下载头像附件</key>
		<dict>
			<key>name</key>
			<string>getFileByParms</string>
			<key>selector</key>
			<string>getFileByParms:fileId:</string>
		</dict>
		<key>会议详情</key>
		<dict>
			<key>name</key>
			<string>findMeetInfoDetailByMeetId</string>
			<key>selector</key>
			<string>findMeetInfoDetailByMeetId:meetingId:</string>
		</dict>
		<key>机构访问权限</key>
		<dict>
			<key>name</key>
			<string>validSmpkey</string>
			<key>selector</key>
			<string>validSmpkey:</string>
		</dict>
		<key>大小类字典查询</key>
		<dict>
			<key>name</key>
			<string>findCategoriesByCode</string>
			<key>selector</key>
			<string>findCategoriesByCode:cvalue:</string>
		</dict>
		<key>机构部组</key>
		<dict>
			<key>selector</key>
			<string>findOrgPathPagelist:orgId:</string>
			<key>name</key>
			<string>findOrgPathPagelist</string>
		</dict>
		<key>下载PDF附件</key>
		<dict>
			<key>selector</key>
			<string>findResourceFileByCode:resourceId:startIndex:size:</string>
			<key>name</key>
			<string>findResourceFileByCode</string>
		</dict>
		<key>会议材料列表</key>
		<dict>
			<key>name</key>
			<string>findResourceTypeByCode</string>
			<key>selector</key>
			<string>findResourceTypeByCode:meetingAgendaId:sourceType:</string>
		</dict>
		<key>会议审批</key>
		<dict>
			<key>selector</key>
			<string>getApprovalInfo:userId:dict:</string>
			<key>name</key>
			<string>getApprovalInfo</string>
		</dict>
		<key>查询审批会议列表</key>
		<dict>
			<key>name</key>
			<string>findMeetingApproveByParms</string>
			<key>selector</key>
			<string>findMeetingApproveByParms:dict:pageInfo:</string>
		</dict>
		<key>会议报名</key>
		<dict>
			<key>name</key>
			<string>meetRegistByParams</string>
			<key>selector</key>
			<string>meetRegistByParams:meetingId:customerId:</string>
		</dict>
		<key>主打产品查询</key>
		<dict>
			<key>name</key>
			<string>getMainProduct</string>
			<key>selector</key>
			<string>getMainProduct:</string>
		</dict>
		<key>自定义字段保存</key>
		<dict>
			<key>name</key>
			<string>saveReportFieldList</string>
			<key>selector</key>
			<string>saveReportFieldList:list:report:time:organ:</string>
		</dict>
		<key>快速查询</key>
		<dict>
			<key>name</key>
			<string>quickSearch</string>
			<key>selector</key>
			<string>quickSearch:org:level:category:beingDate:endDate:product:</string>
		</dict>
		<key>自定义字段查询</key>
		<dict>
			<key>name</key>
			<string>getReportFieldList</string>
			<key>selector</key>
			<string>getReportFieldList:report:time:organ:</string>
		</dict>
		<key>报表查询</key>
		<dict>
			<key>name</key>
			<string>queryReport</string>
			<key>selector</key>
			<string>queryReport:org:time:date:level:</string>
		</dict>
		<key>报表下钻查询</key>
		<dict>
			<key>name</key>
			<string>queryReportDown</string>
			<key>selector</key>
			<string>queryReportDown:org:time:date:level:customer:subOrg:</string>
		</dict>
		<key>报表详情查询</key>
		<dict>
			<key>name</key>
			<string>queryReportDetail</string>
			<key>selector</key>
			<string>queryReportDetail:org:time:date:level:customer:productId:</string>
		</dict>
		<key>获取广播消息</key>
		<dict>
			<key>name</key>
			<string>loadNoticeBoardJSON</string>
			<key>selector</key>
			<string>loadNoticeBoardJSON:recvOrgan:recvChannel:</string>
		</dict>
		<key>获取个人消息</key>
		<dict>
			<key>name</key>
			<string>loadNoticeIndividJSON</string>
			<key>selector</key>
			<string>loadNoticeIndividJSON:recvUser:ptid:</string>
		</dict>
		<key>更新个人消息表中的消息接收时间</key>
		<dict>
			<key>name</key>
			<string>updateRecvTimeJASON</string>
			<key>selector</key>
			<string>updateRecvTimeJASON:</string>
		</dict>
		<key>删除单个消息</key>
		<dict>
			<key>name</key>
			<string>deleteNotice</string>
			<key>selector</key>
			<string>deleteNotice:noticeId:</string>
		</dict>
		<key>批量删除消息</key>
		<dict>
			<key>name</key>
			<string>batchDeleteNoticeJASON</string>
			<key>selector</key>
			<string>batchDeleteNoticeJASON:rowsToUpdate:</string>
		</dict>
		<key>批量更新个人消息表</key>
		<dict>
			<key>name</key>
			<string>updateRecvTimeJASON</string>
			<key>selector</key>
			<string>updateRecvTimeJASON:</string>
		</dict>
	</dict>
</dict>
</plist>
