<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dbName1.db</key>
	<array>
		<dict>
			<key>tableName</key>
			<string>Test</string>
			<key>modelName</key>
			<string>TestModel</string>
			<key>primaryKey</key>
			<string>key1,key2</string>
		</dict>
	</array>
</dict>
</plist>
